.SectionCenter {
  justify-content: center;
}

.SectionFlex {
  display: flex;
}

.SectionRow {
  flex-direction: row;
}

.SectionColumn {
  flex-direction: column;
}

.SectionMaxWidthHundred {
  max-width: 100%;
}

.PageLayoutWrapper {
  border-bottom: 1px solid var(--line);
  width: 100%;
  overflow-y: hidden;
}

.FirstWrapper {
  max-width: 1180px;
  width: 100%;
}
.FirstWrapper .TextWrapper {
  min-width: auto;
  z-index: 1;
  padding: 0px 24px 0px 8px;
  justify-content: center;
}
.FirstWrapper .TextWrapper .TitleWrapper {
  font-family: "HKGrotesk";
  text-align: start;
  padding-bottom: 64px;
}
.FirstWrapper .TextWrapper .TitleWrapper h1 {
  font-size: 60px;
  line-height: 65px;
  font-weight: bold;
  margin-top: 50px;
}
.FirstWrapper .TextWrapper .TitleWrapper span {
  height: 16px;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
}
.FirstWrapper .TextWrapper .TitleWrapper p {
  font-size: 32px;
  line-height: 44px;
  font-weight: 620;
}
.FirstWrapper .FormWrapper {
  max-width: 472px;
  display: flex;
  flex-direction: row;
  padding-bottom: 24px;
}
.FirstWrapper .FormWrapper .SignupForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-right: 16px;
  gap: 16px;
  align-items: center;
}
.FirstWrapper .FormWrapper .SignupForm .InputContainer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(91, 97, 110, 0.2);
  border-radius: 8px;
  transition: all 0.15s ease 0s;
  background: white;
}
.FirstWrapper .FormWrapper .SignupForm .InputContainer input {
  padding: 17px;
  border: 1px solid transparent;
  overflow: visible;
  z-index: 0;
  flex: 1 1 0px;
  width: 100%;
  margin: 0px;
  padding: 20px;
  border-radius: 3px;
  background: none;
  font-size: 18px;
  height: 15px;
  font-weight: 400;
  color: rgb(10, 11, 13);
  border: 1px solid transparent;
  font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.FirstWrapper .FormWrapper .SignupForm .interactableButton {
  height: 56px;
  border-radius: 56px;
  transform: scale(1);
}
.FirstWrapper .FormWrapper .SignupForm .interactableButton:hover {
  background-color: rgb(1, 76, 236);
  opacity: 1;
}
.FirstWrapper .FormWrapper .SignupForm .interactableButton:active {
  opacity: 1;
  transform: scale(0.98);
  background-color: rgb(1, 72, 221);
}

.ImageContainer {
  min-width: 636px;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NextGenImage {
  width: 100%;
}
.NextGenImage img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.FirstWrapperMobile {
  max-width: 768px;
  padding: 24px 56px;
}
.FirstWrapperMobile .contentWrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  align-items: flex-start;
  padding: 80px 0;
}
.FirstWrapperMobile .contentWrapper .linkWrapper {
  color: rgb(0, 82, 250);
  font-weight: 500;
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: row;
}
.FirstWrapperMobile .contentWrapper .TitleWrapper h1 {
  text-align: start;
  font-size: 65px;
  line-height: 1.15;
  margin-top: 8px;
  margin-bottom: 16px;
}
.FirstWrapperMobile .contentWrapper h3 {
  font-size: 23px;
  line-height: 1.4;
  margin-bottom: 32px;
  text-align: start;
  font-weight: 600;
}
.FirstWrapperMobile .contentWrapper .formWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.FirstWrapperMobile .contentWrapper .formWrapper .inputWrapper {
  flex: 1 1 auto;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(91, 97, 110, 0.2);
  border-radius: 4px;
  transition: all 0.15s ease 0s;
  background: white;
}
.FirstWrapperMobile .contentWrapper .formWrapper .inputWrapper input {
  z-index: 0;
  width: 100%;
  margin: 0px;
  padding: 20px;
  border-radius: 3px;
  background: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  box-sizing: border-box;
  font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.FirstWrapperMobile .contentWrapper .formWrapper .buttonWrapper {
  margin-left: 16px;
  margin-top: 0;
  max-width: 160px;
  min-width: 160px;
}
.FirstWrapperMobile .contentWrapper .formWrapper .buttonWrapper button {
  width: 100%;
  border-radius: 4px;
  padding: 34px;
  font-size: 16px;
}

.SecondWrapper {
  width: 100%;
  background-color: rgb(10, 11, 13);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.SecondWrapper .contentWrapper {
  max-width: 1180px;
  width: 100%;
  display: flex;
}
.SecondWrapper .contentWrapper .imageWrapper {
  height: 100%;
  display: flex;
  align-self: center;
}
.SecondWrapper .contentWrapper .imageWrapper img {
  height: 100%;
  width: 100%;
  max-width: 198px;
  -o-object-fit: cover;
     object-fit: cover;
}
.SecondWrapper .contentWrapper .textWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding: 24px 0px 24px 48px;
  color: white;
}
.SecondWrapper .contentWrapper .textWrapper .titleWrapper {
  display: flex;
  flex-direction: column;
  padding-right: 16px;
  align-items: flex-start;
}
.SecondWrapper .contentWrapper .textWrapper .titleWrapper h2 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
  text-align: start;
}
.SecondWrapper .contentWrapper .textWrapper .titleWrapper .subTextWrapper {
  max-width: 700px;
  text-align: start;
  padding: 16px 8px 16px 0px;
}
.SecondWrapper .contentWrapper .textWrapper .titleWrapper .subTextWrapper p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  text-align: start;
}
.SecondWrapper .contentWrapper .textWrapper .buttonWrapper {
  min-width: 205px;
  display: flex;
  padding: 0px;
  flex: 0 0;
  justify-content: center;
  align-items: center;
}
.SecondWrapper .contentWrapper .textWrapper .buttonWrapper .interactableButton {
  display: flex;
  justify-content: space-between;
  height: 56px;
  color: rgb(10, 11, 13);
}
.SecondWrapper .contentWrapper .textWrapper .buttonWrapper .interactableButton span {
  font-size: 35px;
  margin-bottom: 5px;
}

@media screen and (max-width: 1280px) {
  .SecondWrapper .contentWrapper .imageWrapper img {
    max-width: unset;
  }
  .SecondWrapper .contentWrapper .textWrapper {
    padding: 16px 0px 16px 24px;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
  }
  .SecondWrapper .contentWrapper .textWrapper .titleWrapper {
    display: flex;
    flex-direction: column;
    padding-right: 16px;
    align-items: flex-start;
  }
}
@media screen and (max-width: 1090px) {
  .FirstWrapper {
    max-width: 1180px;
    width: 100%;
  }
  .FirstWrapper .TextWrapper {
    min-width: 40%;
  }
  .FirstWrapper .TextWrapper .TitleWrapper h1 {
    font-size: 34px;
    line-height: 44px;
    font-weight: 600;
  }
  .FirstWrapper .TextWrapper .TitleWrapper p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400px;
  }
  .ImageContainer {
    min-width: auto;
    height: 680px;
  }
  .SecondWrapper .contentWrapper .imageWrapper {
    height: auto;
  }
  .SecondWrapper .contentWrapper .imageWrapper img {
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 768px) {
  .SecondWrapper .contentWrapper .imageWrapper img {
    max-width: unset;
  }
  .SecondWrapper .contentWrapper .textWrapper .titleWrapper h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .SecondWrapper .contentWrapper .textWrapper .titleWrapper .subTextWrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  .SecondWrapper .contentWrapper .textWrapper .buttonWrapper {
    padding-right: 16px;
    width: 95%;
  }
  .SecondWrapper .contentWrapper .textWrapper .buttonWrapper .interactableButton {
    height: 40px;
    width: 100%;
    color: rgb(10, 11, 13);
  }
  .SecondWrapper .contentWrapper .textWrapper .buttonWrapper .interactableButton span {
    font-size: 35px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 560px) {
  .FirstWrapperMobile {
    padding: 24px;
  }
  .FirstWrapperMobile .contentWrapper .TitleWrapper h1 {
    font-size: 34px;
    line-height: 40px;
  }
  .FirstWrapperMobile .contentWrapper h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .FirstWrapperMobile .contentWrapper .formWrapper {
    flex-direction: column;
  }
  .FirstWrapperMobile .contentWrapper .formWrapper .buttonWrapper {
    margin-top: 8px;
    margin-left: 0px;
    display: block;
    padding: 0;
    max-width: 100%;
  }
}/*# sourceMappingURL=homepage.css.map */