.lorem {
  max-width: 90px;
  display: none;
}

.mainNav_wrapper {
  position: fixed;
  min-width: 100dvw;
  max-width: 100dvw;
  background: rgb(255, 255, 255);
  z-index: 2;
  box-shadow: rgb(208, 206, 206) 0px -1px 0px 1px;
}

.banner {
  background-color: rgb(0, 82, 250);
  min-height: 39px;
  padding-bottom: 3.5px;
  transform: translateY(-40px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide_down 300ms ease-in-out 0.133s 1 normal forwards running;
}

@keyframes slide_down {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
.styledLink, .dropdownDescriptionWrapper .dropdownDescriptionLink {
  text-decoration: none;
  cursor: pointer;
  font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: rgb(255, 255, 255);
}

.banerStyledLink {
  font-weight: 550;
  font-size: 16px;
}
.banerStyledLink sup {
  font-size: 12px;
}

.mainNavContainer {
  width: 100%;
  border-bottom: 1px solid rgb(236, 239, 241);
  background: white;
}

.mainNav {
  max-width: 1180px;
  margin: 0px auto;
  display: flex;
  align-items: stretch;
  padding: 0px 20px;
  box-sizing: content-box;
  min-height: 66px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  padding-bottom: 3px;
  flex: 2 1 0%;
}

.logo {
  position: relative;
  max-height: 20px;
}

.defaultCursor {
  cursor: default;
}

.centerWrapper {
  display: flex;
  justify-content: stretch;
}

.navLinkItem {
  position: relative;
  margin: 0 16px;
  line-height: 15px;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}

.navLinkItem.active::before {
  position: absolute;
  top: calc(100% - 3px);
  width: 100%;
  height: 4px;
  background: rgb(0, 82, 250);
  display: inline-block;
  content: "";
}

.textLabel {
  text-align: center;
  font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 16px;
  color: rgb(5, 15, 25);
  margin: 0px;
  white-space: nowrap;
}

.mainSubMenuContainer {
  display: none;
  background: rgb(255, 255, 255);
  text-align: left;
  position: absolute;
  z-index: 2;
  top: calc(100% + 1px);
  left: 0px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(236, 239, 241);
  pointer-events: all;
  padding: 45px;
  opacity: 1;
  visibility: visible;
  transition: position 150ms linear 0s;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 10px;
}
.mainSubMenuContainer .SubMenuContainer_InnerWrapper {
  max-width: 1065px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  transition: opacity 300ms ease-in-out 0s;
  opacity: 0;
}
.mainSubMenuContainer .dropdownIndividuals {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mainSubMenuContainer .columnWrapper {
  flex: 0 1 0%;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 20px 34px;
  grid-auto-flow: row;
  justify-content: end;
  margin-right: 60px;
  align-items: flex-start;
}
.mainSubMenuContainer .dropdownLink {
  display: inline-flex;
  color: inherit;
  min-width: 145px;
  text-decoration: none;
}
.mainSubMenuContainer .dropdownIconWrapper {
  margin-right: 12px;
  display: inline-flex;
  align-items: center;
}
.mainSubMenuContainer .dropdownIconWrapper img {
  height: 40px;
  width: 40px;
  filter: drop-shadow(rgba(91, 97, 110, 0.14) 0px 2px 2px) drop-shadow(rgba(91, 97, 110, 0.12) 0px 3px 1px) drop-shadow(rgba(91, 97, 110, 0.2) 0px 1px 5px);
}
.mainSubMenuContainer .dropdownTextWrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  max-width: 316px;
}
.mainSubMenuContainer .dropdownTextWrapper h4 {
  font-weight: 500;
  line-height: 16px;
  margin: 0px;
  font-size: 16px;
  font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: rgb(5, 15, 25);
}
.mainSubMenuContainer .dropdownTextWrapper p {
  margin-top: 4px;
  display: inline-block;
  color: rgba(17, 51, 83, 0.6);
  line-height: 20px;
}
.mainSubMenuContainer .dropdownLink:hover .dropdownTextWrapper h4 {
  color: rgb(0, 82, 250);
}
.mainSubMenuContainer .dropdownLink:hover .dropdownTextWrapper p {
  color: rgb(5, 15, 25);
}

.DropdownItemWrapper {
  display: inline-flex;
}
.DropdownItemWrapper .DropdownArrow {
  margin-right: 18px;
  margin-top: 2px;
}

.DropdownItem {
  display: inline-flex;
  flex-direction: column;
  max-width: 316px;
}
.DropdownItem .DropdownText, .DropdownItem .dropdownDescriptionWrapper .dropdownDescriptionBody, .dropdownDescriptionWrapper .DropdownItem .dropdownDescriptionBody, .DropdownItem .dropdownDescriptionWrapper .dropdownDescriptionHeadline, .dropdownDescriptionWrapper .DropdownItem .dropdownDescriptionHeadline {
  font-weight: 500;
  line-height: 16px;
  color: rgb(5, 15, 25);
  margin: 0;
  font-size: 16px;
  font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.dropdownDescriptionWrapper {
  flex: 1 1 0%;
  max-width: 320px;
}
.dropdownDescriptionWrapper .dropdownDescriptionHeadline {
  font-weight: 500;
}
.dropdownDescriptionWrapper .dropdownDescriptionBody {
  margin-top: 8px;
  line-height: 24px;
  font-weight: 400;
}
.dropdownDescriptionWrapper .dropdownDescriptionLink {
  color: rgb(0, 82, 250);
}
.dropdownDescriptionWrapper .dropdownDescriptionLink h4 {
  font-weight: 550;
  line-height: 16px;
  display: inline-flex;
  margin-top: 22px;
}
.dropdownDescriptionWrapper .dropdownDescriptionLink:hover {
  color: rgb(49, 116, 251);
}

.mainSubMenuContainer.active {
  display: block;
}
.mainSubMenuContainer.active .SubMenuContainer_InnerWrapper {
  opacity: 1;
}

.buttonWrapper {
  display: flex;
  padding: 0 16px;
  flex: 2 1 0%;
  justify-content: flex-end;
  align-items: center;
}

.interactableButton, .mobileButtonWrapper button {
  display: inline-flex;
  cursor: pointer;
  height: 40px;
  min-width: 100px;
  border-radius: 40px;
  border: none;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15;
  padding: 0 32px;
  white-space: nowrap;
  background-color: rgb(0, 82, 250);
  color: rgb(255, 255, 255);
  outline: 0;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-weight: 600;
  font-size: 100%;
}

.interactableButton:hover, .mobileButtonWrapper button:hover {
  background-color: rgb(1, 76, 236);
  opacity: 0.92;
}

.interactableButton:active, .mobileButtonWrapper button:active {
  background-color: rgb(1, 72, 221);
  opacity: 0.86;
}

.mobileMenuToggleWrapper {
  display: none;
  position: relative;
  width: 18px;
  height: 17px;
  cursor: pointer;
  padding: 10px;
  margin: 14px -10px 10px 20px;
}

.mobileNavContainer {
  display: none;
  height: 10px;
}

.mobileCenterWrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  animation: 300ms cubic-bezier(0.6, 0, 0.15, 1) 0s 1 normal forwards running ivqFUA;
  padding-top: 5px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 100dvw;
  max-height: -moz-fit-content;
  max-height: fit-content;
  height: calc(100vh - 93px);
  overflow: scroll;
  background: rgb(255, 255, 255);
  z-index: -1;
}
.mobileCenterWrapper ::-webkit-scrollbar ::-webkit-scrollbar-thumb ::-webkit-scrollbar-track {
  width: 0px;
  border: none;
}
.mobileCenterWrapper .navLinkItem {
  margin: 0;
  padding: 15px 24px;
  min-height: 29px;
  max-height: 29px;
  max-width: 100dvw;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 13px;
}

.mobileLinkItem {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
}

.mobileMenuIconWrapper {
  transition: transform 0.15s ease-out 0s;
}

.mobileMenuIconWrapper.active {
  transition: transform 0.15s ease-out 0s;
  transform: rotate(180deg);
}

.mobileMenuSubLinkWrapper {
  display: none;
  padding: 17px 24px;
  background: rgb(241, 243, 245);
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
}

.mobileMenuSubLinkWrapper.active {
  display: block;
}

.mobileMenuSubLink {
  padding: 17px 0px;
  max-height: 50px;
}

.mobileSubLinkItem {
  color: rgb(5, 15, 25);
}

.mobileSubLinkTextLabel {
  margin: 0;
  font-weight: 400;
}

.mobileButtonWrapper {
  display: flex;
  padding: 20px 24px;
  gap: 10px;
  justify-content: center;
  max-width: 100dvw;
}
.mobileButtonWrapper .styledLink, .mobileButtonWrapper .dropdownDescriptionWrapper .dropdownDescriptionLink, .dropdownDescriptionWrapper .mobileButtonWrapper .dropdownDescriptionLink {
  width: 100%;
}
.mobileButtonWrapper button {
  width: 100%;
  height: 56px;
  border-radius: 56px;
}
.mobileButtonWrapper .mobileSignInInteractableButton {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(91, 97, 110, 0.2);
  color: rgb(23, 23, 23);
}

@keyframes ivqFUA {
  0% {
    transform: translateY(-750px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.mobileMenuToggle {
  display: flex;
  position: relative;
  width: 18px;
  height: 17px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
}
.mobileMenuToggle .bar {
  position: absolute;
  top: 8px;
  width: 100%;
  height: 2px;
  background-color: rgb(5, 15, 25);
  border-radius: 4px;
  transform: initial;
  transition: transform 300ms ease 0s, background-color 0s cubic-bezier(0.6, 0, 0.15, 1) 0s;
}
.mobileMenuToggle .bar::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(5, 15, 25);
  border-radius: 4px;
  content: "";
  transform: translateY(-8px);
  transition: transform 300ms ease 0s, background-color 0s cubic-bezier(0.6, 0, 0.15, 1) 0s;
}
.mobileMenuToggle .bar::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(5, 15, 25);
  border-radius: 4px;
  content: "";
  transform: translateY(8px) rotate(0deg);
  transition: transform 300ms ease 0s, background-color 0s cubic-bezier(0.6, 0, 0.15, 1) 0s;
}
.mobileMenuToggle .bar.active {
  background-color: transparent;
  transform: rotate(45deg);
  transition: transform 300ms ease 0s, background-color 0s cubic-bezier(0.6, 0, 0.15, 1) 0s;
}
.mobileMenuToggle .bar.active::before {
  transform: translateY(0px);
}
.mobileMenuToggle .bar.active::after {
  transform: translateY(0px) rotate(-90deg);
}

@media (max-width: 1050px) {
  .banner {
    max-height: 40.5px;
    padding-bottom: 1.5px;
  }
  .banerStyledLink span {
    font-size: 14px;
    font-weight: 550;
  }
  .mainNavContainer {
    height: 58px;
  }
  .mainNav {
    margin: -3px auto;
    height: 58px;
  }
  .logoWrapper {
    padding-bottom: 13px;
    margin: 8px 0px 0px 1px;
  }
  .centerWrapper {
    display: none;
  }
  .buttonWrapper .navLinkItem {
    display: none;
  }
  .mobileMenuToggleWrapper {
    display: flex;
  }
  .mobileCenterWrapper {
    display: flex;
  }
  .mobileCenterWrapper .mobileLinkItem {
    flex: 1 1 0%;
  }
  .mobileNavContainer.active {
    display: block;
  }
}
@media (max-width: 767px) {
  .mobileButtonWrapper {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */