$primary: rgb(0, 82, 250);
$background: rgb(255,255,255);

$spacing-0: 0px;
$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 24px;
$spacing-4: 32px;
$spacing-5: 40px;
$spacing-6: 48px;
$spacing-7: 56px;
$spacing-8: 64px;
$spacing-9: 72px;
$spacing-10: 80px;

@import "navbar";
@import "homepage";

.no-scroll{
    overflow: hidden;
    height: 10px;
}



.interactableButton {

    display: inline-flex;
    cursor: pointer;
    height: 40px;
    min-width: 100px;
    border-radius: 40px;
    border: none;

    text-align: center;
    vertical-align: middle;
    line-height: 1.15;
    padding: 0 $spacing-4;
    white-space: nowrap;

    background-color: $primary;
    color: $background;


    outline: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-weight: 600;
    font-size: 100%;
}

.interactableButton:hover {
    background-color: rgb(1, 76, 236);
    opacity: 0.92;
}

.interactableButton:active {
    background-color: rgb(1, 72, 221);
    opacity: 0.86;
}
