.mainNav_wrapper {
  min-width: 100%;
  max-width: 100%;
  height: 104px;
  top: 0px;
  z-index: 2;
}

.mainNav_wrapper.notSliding {
  position: static;
}
.mainNav_wrapper.notSliding .banner {
  transform: translateY(-40px);
  animation: slide_down 300ms ease-in-out 0.133s 1 normal forwards running;
}

.mainNav_wrapper.sliding {
  position: fixed;
  transform: translateY(-40px);
  animation: slide_down 200ms ease-in 0s 1 normal forwards running;
}

.headerUnderlay {
  height: 0px;
  margin: 0;
}

.headerUnderlay.sliding {
  height: 105px;
  margin: 0;
}

.homePageCheckr {
  display: none;
  height: 0px;
}

.homePageCheckr.sliding {
  display: block;
}

.banner {
  background-color: #0052fa;
  min-height: 39px;
  padding-bottom: 3.5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes slide_down {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
.styledLink, .dropdownDescriptionWrapper .dropdownDescriptionLink {
  text-decoration: none;
  cursor: pointer;
  font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: rgb(255, 255, 255);
}

.banerStyledLink {
  font-weight: 550;
  font-size: 16px;
}
.banerStyledLink sup {
  font-size: 12px;
}

.mainNavContainer {
  width: 100%;
  border-bottom: 1px solid rgb(236, 239, 241);
  background: white;
  position: relative;
}

.mainNav {
  max-width: 1180px;
  margin: 0px auto;
  display: flex;
  align-items: stretch;
  padding: 0px 20px;
  box-sizing: content-box;
  min-height: 66px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  padding-bottom: 3px;
  flex: 2 1 0%;
}

.logo {
  position: relative;
  max-height: 20px;
}

.defaultCursor {
  cursor: default;
}

.centerWrapper {
  display: flex;
  justify-content: stretch;
}

.navLinkItem {
  position: relative;
  margin: 0 16px;
  line-height: 15px;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}

.navLinkItem.active::before {
  position: absolute;
  top: calc(100% - 3px);
  width: 100%;
  height: 4px;
  background: #0052fa;
  display: inline-block;
  content: "";
}

.textLabel {
  text-align: center;
  font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 16px;
  color: rgb(5, 15, 25);
  margin: 0px;
  white-space: nowrap;
}

.mainSubMenuContainer {
  display: none;
  background: rgb(255, 255, 255);
  text-align: left;
  position: absolute;
  z-index: 2;
  top: calc(100% + 1px);
  left: 0px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(236, 239, 241);
  pointer-events: all;
  padding: 45px;
  transition: position 150ms linear 0s;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 10px;
}
.mainSubMenuContainer .SubMenuContainer_InnerWrapper {
  max-width: 1065px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  transition: opacity 300ms ease-in-out 0s;
  opacity: 0;
}
.mainSubMenuContainer .dropdownIndividuals {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mainSubMenuContainer .columnWrapper {
  flex: 0 1 0%;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 20px 34px;
  grid-auto-flow: row;
  justify-content: end;
  margin-right: 60px;
  align-items: flex-start;
}
.mainSubMenuContainer .dropdownLink {
  display: inline-flex;
  color: inherit;
  min-width: 145px;
  text-decoration: none;
}
.mainSubMenuContainer .dropdownIconWrapper {
  margin-right: 12px;
  display: inline-flex;
  align-items: center;
}
.mainSubMenuContainer .dropdownIconWrapper img {
  height: 40px;
  width: 40px;
  filter: drop-shadow(rgba(91, 97, 110, 0.14) 0px 2px 2px) drop-shadow(rgba(91, 97, 110, 0.12) 0px 3px 1px) drop-shadow(rgba(91, 97, 110, 0.2) 0px 1px 5px);
}
.mainSubMenuContainer .dropdownTextWrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  max-width: 316px;
}
.mainSubMenuContainer .dropdownTextWrapper h4 {
  font-weight: 500;
  line-height: 16px;
  margin: 0px;
  font-size: 16px;
  font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: rgb(5, 15, 25);
}
.mainSubMenuContainer .dropdownTextWrapper p {
  margin-top: 4px;
  display: inline-block;
  color: rgba(17, 51, 83, 0.6);
  line-height: 20px;
}
.mainSubMenuContainer .dropdownLink:hover .dropdownTextWrapper h4 {
  color: #0052fa;
}
.mainSubMenuContainer .dropdownLink:hover .dropdownTextWrapper p {
  color: rgb(5, 15, 25);
}

.DropdownItemWrapper {
  display: inline-flex;
}
.DropdownItemWrapper .DropdownArrow {
  margin-right: 18px;
  margin-top: 2px;
}
.DropdownItemWrapper .DropdownArrow svg {
  color: green;
}

.DropdownItem {
  display: inline-flex;
  flex-direction: column;
  max-width: 316px;
}
.DropdownItem .DropdownText, .DropdownItem .dropdownDescriptionWrapper .dropdownDescriptionBody, .dropdownDescriptionWrapper .DropdownItem .dropdownDescriptionBody, .DropdownItem .dropdownDescriptionWrapper .dropdownDescriptionHeadline, .dropdownDescriptionWrapper .DropdownItem .dropdownDescriptionHeadline {
  font-weight: 600;
  line-height: 16px;
  color: rgb(5, 15, 25);
  margin: 0;
  font-size: 16px;
  font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.DropdownItemWrapper:hover .DropdownText, .DropdownItemWrapper:hover .dropdownDescriptionWrapper .dropdownDescriptionBody, .dropdownDescriptionWrapper .DropdownItemWrapper:hover .dropdownDescriptionBody, .DropdownItemWrapper:hover .dropdownDescriptionWrapper .dropdownDescriptionHeadline, .dropdownDescriptionWrapper .DropdownItemWrapper:hover .dropdownDescriptionHeadline,
.DropdownItemWrapper:hover .DropdownArrow > path {
  color: rgba(22, 82, 240, 0.8);
  fill: rgba(22, 82, 240, 0.8);
}

.dropdownDescriptionWrapper {
  flex: 1 1 0%;
  max-width: 290px;
}
.dropdownDescriptionWrapper .dropdownDescriptionHeadline {
  font-weight: 550;
}
.dropdownDescriptionWrapper .dropdownDescriptionBody {
  margin-top: 8px;
  line-height: 24px;
  font-weight: 400;
}
.dropdownDescriptionWrapper .dropdownDescriptionLink {
  color: #0052fa;
}
.dropdownDescriptionWrapper .dropdownDescriptionLink h4 {
  font-weight: 550;
  line-height: 16px;
  display: inline-flex;
  margin-top: 22px;
}
.dropdownDescriptionWrapper .dropdownDescriptionLink:hover {
  color: rgb(49, 116, 251);
}

.mainSubMenuContainer.active {
  display: block;
}
.mainSubMenuContainer.active .SubMenuContainer_InnerWrapper {
  opacity: 1;
}

.buttonWrapper {
  display: flex;
  padding: 0 16px;
  flex: 2 1 0%;
  justify-content: flex-end;
  align-items: center;
}

.interactableButton, .mobileButtonWrapper button {
  display: inline-flex;
  cursor: pointer;
  height: 40px;
  min-width: 100px;
  border-radius: 40px;
  border: none;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15;
  padding: 0 32px;
  white-space: nowrap;
  background-color: #0052fa;
  color: rgb(255, 255, 255);
  outline: 0;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-weight: 600;
  font-size: 100%;
}

.interactableButton:hover, .mobileButtonWrapper button:hover {
  background-color: rgb(1, 76, 236);
  opacity: 0.92;
}

.interactableButton:active, .mobileButtonWrapper button:active {
  background-color: rgb(1, 72, 221);
  opacity: 0.86;
}

.mobileMenuToggleWrapper {
  display: none;
  position: relative;
  width: 18px;
  height: 17px;
  cursor: pointer;
  padding: 10px;
  margin: 14px -10px 10px 20px;
}

.mobileNavContainer {
  display: none;
  height: 100lvh;
  position: absolute;
  display: none;
  height: 100lvh;
  z-index: 3;
  top: auto;
  bottom: auto;
  left: 0;
  right: 0;
}

.mobileCenterWrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  animation: 300ms cubic-bezier(0.6, 0, 0.15, 1) 0s 1 normal forwards running ivqFUA;
  padding-top: 5px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 100dvw;
  min-height: calc(100vh - 93px);
  min-height: 100vh;
  overflow: scroll;
  background: rgb(255, 255, 255);
}
.mobileCenterWrapper ::-webkit-scrollbar ::-webkit-scrollbar-thumb ::-webkit-scrollbar-track {
  width: 0px;
  border: none;
}
.mobileCenterWrapper .centerNavItems {
  height: -moz-fit-content;
  height: fit-content;
  overflow-y: scroll;
}
.mobileCenterWrapper .navLinkItem {
  margin: 0;
  padding: 15px 24px;
  min-height: 29px;
  max-height: 29px;
  max-width: 100dvw;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 13px;
}

.mobileLinkItem {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  padding: 20px 24px;
}

.mobileMenuIconWrapper {
  transition: transform 0.15s ease-out 0s;
}

.mobileMenuIconWrapper.active {
  transition: transform 0.15s ease-out 0s;
  transform: rotate(180deg);
}

.mobileMenuSubLinkWrapper {
  display: none;
  padding: 17px 24px;
  background: rgb(241, 243, 245);
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
}

.mobileMenuSubLinkWrapper.active {
  display: block;
}

.mobileMenuSubLink {
  padding: 17px 0px;
  max-height: 50px;
}

.mobileSubLinkItem {
  color: rgb(5, 15, 25);
}

.mobileSubLinkTextLabel {
  margin: 0;
  font-weight: 400;
}

.mobileButtonWrapper {
  display: flex;
  padding: 20px 24px;
  gap: 10px;
  justify-content: center;
  max-width: 100dvw;
}
.mobileButtonWrapper .styledLink, .mobileButtonWrapper .dropdownDescriptionWrapper .dropdownDescriptionLink, .dropdownDescriptionWrapper .mobileButtonWrapper .dropdownDescriptionLink {
  width: 100%;
}
.mobileButtonWrapper button {
  width: 100%;
  height: 56px;
  border-radius: 56px;
}
.mobileButtonWrapper .mobileSignInInteractableButton {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(91, 97, 110, 0.2);
  color: rgb(23, 23, 23);
}

@keyframes ivqFUA {
  0% {
    transform: translateY(-750px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.mobileMenuToggle {
  display: flex;
  position: relative;
  width: 18px;
  height: 17px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
}
.mobileMenuToggle .bar {
  position: absolute;
  top: 8px;
  width: 100%;
  height: 2px;
  background-color: rgb(5, 15, 25);
  border-radius: 4px;
  transform: initial;
  transition: transform 300ms ease 0s, background-color 0s cubic-bezier(0.6, 0, 0.15, 1) 0s;
}
.mobileMenuToggle .bar::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(5, 15, 25);
  border-radius: 4px;
  content: "";
  transform: translateY(-8px);
  transition: transform 300ms ease 0s, background-color 0s cubic-bezier(0.6, 0, 0.15, 1) 0s;
}
.mobileMenuToggle .bar::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(5, 15, 25);
  border-radius: 4px;
  content: "";
  transform: translateY(8px) rotate(0deg);
  transition: transform 300ms ease 0s, background-color 0s cubic-bezier(0.6, 0, 0.15, 1) 0s;
}
.mobileMenuToggle .bar.active {
  background-color: transparent;
  transform: rotate(45deg);
  transition: transform 300ms ease 0s, background-color 0s cubic-bezier(0.6, 0, 0.15, 1) 0s;
}
.mobileMenuToggle .bar.active::before {
  transform: translateY(0px);
}
.mobileMenuToggle .bar.active::after {
  transform: translateY(0px) rotate(-90deg);
}

@media (max-width: 1050px) {
  .banner {
    max-height: 40.5px;
    padding-bottom: 1.5px;
  }
  .banerStyledLink span {
    font-size: 14px;
    font-weight: 550;
  }
  .mainNavContainer {
    height: 58px;
  }
  .mainNav {
    margin: -3px auto;
    height: 58px;
  }
  .logoWrapper {
    padding-bottom: 13px;
    margin: 8px 0px 0px 1px;
  }
  .centerWrapper {
    display: none;
  }
  .buttonWrapper .navLinkItem {
    display: none;
  }
  .mobileMenuToggleWrapper {
    display: flex;
  }
  .mobileCenterWrapper {
    display: flex;
  }
  .mobileCenterWrapper .mobileLinkItem {
    flex: 1 1 0%;
  }
  .mobileNavContainer.active {
    display: block;
  }
}
@media (max-width: 767px) {
  .mobileButtonWrapper {
    flex-direction: column;
  }
}
.SectionCenter {
  justify-content: center;
}

.SectionFlex {
  display: flex;
}

.SectionRow {
  flex-direction: row;
}

.SectionColumn {
  flex-direction: column;
}

.SectionMaxWidthHundred {
  max-width: 100%;
}

.PageLayoutWrapper {
  width: 100%;
  overflow-y: hidden;
}

.FirstWrapper {
  max-width: 1180px;
  width: 100%;
}
.FirstWrapper .TextWrapper {
  min-width: auto;
  z-index: 1;
  padding: 0px 24px 0px 8px;
  justify-content: center;
}
.FirstWrapper .TextWrapper .TitleWrapper {
  font-family: "HKGrotesk";
  text-align: start;
  padding-bottom: 64px;
}
.FirstWrapper .TextWrapper .TitleWrapper h1 {
  font-size: 60px;
  line-height: 65px;
  font-weight: bold;
  margin-top: 50px;
}
.FirstWrapper .TextWrapper .TitleWrapper span {
  height: 16px;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
}
.FirstWrapper .TextWrapper .TitleWrapper p {
  font-size: 32px;
  line-height: 44px;
  font-weight: 620;
}
.FirstWrapper .FormWrapper {
  max-width: 472px;
  display: flex;
  flex-direction: row;
  padding-bottom: 24px;
}
.FirstWrapper .FormWrapper .SignupForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-right: 16px;
  gap: 16px;
  align-items: center;
}
.FirstWrapper .FormWrapper .SignupForm .InputContainer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(91, 97, 110, 0.2);
  border-radius: 8px;
  transition: all 0.15s ease 0s;
  background: white;
}
.FirstWrapper .FormWrapper .SignupForm .InputContainer input {
  padding: 17px;
  border: 1px solid transparent;
  overflow: visible;
  z-index: 0;
  flex: 1 1 0px;
  width: 100%;
  margin: 0px;
  padding: 20px;
  border-radius: 3px;
  background: none;
  font-size: 18px;
  height: 15px;
  font-weight: 400;
  color: rgb(10, 11, 13);
  border: 1px solid transparent;
  font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.FirstWrapper .FormWrapper .SignupForm .interactableButton, .FirstWrapper .FormWrapper .SignupForm .mobileButtonWrapper button, .mobileButtonWrapper .FirstWrapper .FormWrapper .SignupForm button {
  height: 56px;
  border-radius: 56px;
  transform: scale(1);
}
.FirstWrapper .FormWrapper .SignupForm .interactableButton:hover, .FirstWrapper .FormWrapper .SignupForm .mobileButtonWrapper button:hover, .mobileButtonWrapper .FirstWrapper .FormWrapper .SignupForm button:hover {
  background-color: rgb(1, 76, 236);
  opacity: 1;
}
.FirstWrapper .FormWrapper .SignupForm .interactableButton:active, .FirstWrapper .FormWrapper .SignupForm .mobileButtonWrapper button:active, .mobileButtonWrapper .FirstWrapper .FormWrapper .SignupForm button:active {
  opacity: 1;
  transform: scale(0.98);
  background-color: rgb(1, 72, 221);
}

.ImageContainer {
  min-width: 636px;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NextGenImage {
  width: 100%;
}
.NextGenImage img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.FirstWrapperMobile {
  max-width: 768px;
  padding: 24px 56px;
}
.FirstWrapperMobile .contentWrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  align-items: flex-start;
  padding: 80px 0;
}
.FirstWrapperMobile .contentWrapper .linkWrapper {
  color: rgb(0, 82, 250);
  font-weight: 500;
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: row;
}
.FirstWrapperMobile .contentWrapper .TitleWrapper h1 {
  text-align: start;
  font-size: 65px;
  line-height: 1.15;
  margin-top: 8px;
  margin-bottom: 16px;
}
.FirstWrapperMobile .contentWrapper h3 {
  font-size: 23px;
  line-height: 1.4;
  margin-bottom: 32px;
  text-align: start;
  font-weight: 600;
}
.FirstWrapperMobile .contentWrapper .formWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.FirstWrapperMobile .contentWrapper .formWrapper .inputWrapper {
  flex: 1 1 auto;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(91, 97, 110, 0.2);
  border-radius: 4px;
  transition: all 0.15s ease 0s;
  background: white;
}
.FirstWrapperMobile .contentWrapper .formWrapper .inputWrapper input {
  z-index: 0;
  width: 100%;
  margin: 0px;
  padding: 20px;
  border-radius: 3px;
  background: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  box-sizing: border-box;
  font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.FirstWrapperMobile .contentWrapper .formWrapper .buttonWrapper {
  margin-left: 16px;
  margin-top: 0;
  max-width: 160px;
  min-width: 160px;
}
.FirstWrapperMobile .contentWrapper .formWrapper .buttonWrapper button {
  width: 100%;
  border-radius: 4px;
  padding: 34px;
  font-size: 16px;
}

.SecondWrapper {
  width: 100%;
  background-color: rgb(10, 11, 13);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.SecondWrapper .contentWrapper {
  max-width: 1180px;
  width: 100%;
  display: flex;
}
.SecondWrapper .contentWrapper .imageWrapper {
  height: 100%;
  display: flex;
  align-self: center;
}
.SecondWrapper .contentWrapper .imageWrapper img {
  height: 100%;
  width: 100%;
  max-width: 198px;
  -o-object-fit: cover;
     object-fit: cover;
}
.SecondWrapper .contentWrapper .textWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding: 24px 0px 24px 48px;
  color: white;
}
.SecondWrapper .contentWrapper .textWrapper .titleWrapper {
  display: flex;
  flex-direction: column;
  padding-right: 16px;
  align-items: flex-start;
}
.SecondWrapper .contentWrapper .textWrapper .titleWrapper h2 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
  text-align: start;
}
.SecondWrapper .contentWrapper .textWrapper .titleWrapper .subTextWrapper {
  max-width: 700px;
  text-align: start;
  padding: 16px 8px 16px 0px;
}
.SecondWrapper .contentWrapper .textWrapper .titleWrapper .subTextWrapper p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  text-align: start;
}
.SecondWrapper .contentWrapper .textWrapper .buttonWrapper {
  min-width: 205px;
  display: flex;
  padding: 0px;
  flex: 0 0;
  justify-content: center;
  align-items: center;
}
.SecondWrapper .contentWrapper .textWrapper .buttonWrapper .interactableButton, .SecondWrapper .contentWrapper .textWrapper .buttonWrapper .mobileButtonWrapper button, .mobileButtonWrapper .SecondWrapper .contentWrapper .textWrapper .buttonWrapper button {
  display: flex;
  justify-content: space-between;
  height: 56px;
  color: rgb(10, 11, 13);
}
.SecondWrapper .contentWrapper .textWrapper .buttonWrapper .interactableButton span, .SecondWrapper .contentWrapper .textWrapper .buttonWrapper .mobileButtonWrapper button span, .mobileButtonWrapper .SecondWrapper .contentWrapper .textWrapper .buttonWrapper button span {
  font-size: 35px;
  margin-bottom: 5px;
}

.ThirdWrapper {
  padding: 80px 24px 80px 24px;
  display: flex;
  justify-content: center;
}
.ThirdWrapper .ContentWrapper {
  max-width: 1180px;
  width: 100%;
  padding: 0;
  padding-top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid rgba(91, 97, 110, 0.2);
}
.ThirdWrapper .ContentWrapper .TextWrapper {
  width: 60%;
  max-width: 500px;
  padding: 0px;
  display: flex;
  align-items: flex-start;
}
.ThirdWrapper .ContentWrapper .TextWrapper .TextContainer {
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(10, 11, 13);
}
.ThirdWrapper .ContentWrapper .TextWrapper .TextContainer h2 {
  font-size: 34px;
  line-height: 44px;
  font-weight: 400;
  text-align: start;
}
.ThirdWrapper .ContentWrapper .TextWrapper .TextContainer span {
  flex-grow: 0;
  flex-shrink: 0;
  height: 16px;
}
.ThirdWrapper .ContentWrapper .TextWrapper .TextContainer p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: start;
}
.ThirdWrapper .ContentWrapper .TextWrapper .TextContainer button {
  height: 54px;
}
.ThirdWrapper .ContentWrapper .ImageWrapper {
  width: 40%;
  padding-left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ThirdWrapper .ContentWrapper .ImageWrapper img {
  max-width: 298px;
}

.HomepageCoinDataWrapper {
  width: 100%;
  padding: 40px 8px;
  display: flex;
  justify-content: center;
  background-color: rgb(245, 248, 255);
}
.HomepageCoinDataWrapper .innerWrapper {
  width: 100%;
  max-width: 1180px;
  padding: 0 24px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: space-between;
}
.HomepageCoinDataWrapper .innerWrapper .textWrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 50%;
  max-width: 500px;
}
.HomepageCoinDataWrapper .innerWrapper .textWrapper .innerTextWrapper {
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}
.HomepageCoinDataWrapper .innerWrapper .textWrapper .innerTextWrapper h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: rgb(10, 11, 13);
  margin: 0;
  text-align: start;
  width: 99%;
}
.HomepageCoinDataWrapper .innerWrapper .textWrapper .innerTextWrapper span {
  flex-grow: 0;
  flex-shrink: 0;
  height: 32px;
}
.HomepageCoinDataWrapper .innerWrapper .textWrapper .innerTextWrapper p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(10, 11, 13);
  margin: 0;
  text-align: start;
}
.HomepageCoinDataWrapper .innerWrapper .textWrapper .innerTextWrapper .buttonWrapper {
  text-decoration: none;
  padding: 0;
  justify-content: center;
  flex: 0 0;
}
.HomepageCoinDataWrapper .innerWrapper .textWrapper .innerTextWrapper .buttonWrapper a {
  width: 100%;
}
.HomepageCoinDataWrapper .innerWrapper .textWrapper .innerTextWrapper .buttonWrapper .interactableButton, .HomepageCoinDataWrapper .innerWrapper .textWrapper .innerTextWrapper .buttonWrapper .mobileButtonWrapper button, .mobileButtonWrapper .HomepageCoinDataWrapper .innerWrapper .textWrapper .innerTextWrapper .buttonWrapper button {
  height: 56px;
  border-radius: 56px;
  width: 100%;
  min-width: 100%;
  white-space: normal;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesHeader {
  width: 100%;
  padding-bottom: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesHeader .interactableButton, .HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesHeader .mobileButtonWrapper button, .mobileButtonWrapper .HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesHeader button {
  border-radius: 16px;
  background: rgb(245, 248, 255);
  padding: 0;
  min-width: unset;
  height: 38px;
  padding: 0px 8px;
  border: none;
  color: rgb(10, 11, 13);
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesHeader .interactableButton.active, .HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesHeader .mobileButtonWrapper button.active, .mobileButtonWrapper .HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesHeader button.active {
  border: 1px solid rgb(0, 82, 250);
  color: rgb(0, 82, 250);
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesHeader span {
  flex-grow: 0;
  flex-shrink: 0;
  width: 8px;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  grid-template-rows: repeat(2, minmax(0px, 1fr));
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 16px;
  width: 100%;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper {
  color: rgb(91, 97, 110);
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.25s ease 0s;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile {
  height: 155px;
  width: 155px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 8px 24px;
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  border: 1px solid rgba(91, 97, 110, 0.2);
  background-color: white;
  display: flex;
  box-sizing: border-box;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper .generalInfo {
  color: rgb(91, 97, 110);
  cursor: pointer;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper .generalInfo img {
  width: 45px;
  height: 45px;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper .generalInfo .title {
  padding-top: 8px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(10, 11, 13);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper .persentage {
  display: flex;
  flex-direction: row;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper .persentage span {
  font-weight: 600;
  line-height: 1;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper .persentage .arrowWrapper {
  padding-right: 8px;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper .persentage.positive {
  color: rgb(9, 133, 81);
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper .persentage.negative {
  color: rgb(207, 32, 47);
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper .persentage.negative .arrowInnerWrapper {
  transform: rotate(3.142rad);
}

@media screen and (max-width: 1280px) {
  .SecondWrapper .contentWrapper .imageWrapper img {
    max-width: unset;
  }
  .SecondWrapper .contentWrapper .textWrapper {
    padding: 16px 0px 16px 24px;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
  }
  .SecondWrapper .contentWrapper .textWrapper .titleWrapper {
    display: flex;
    flex-direction: column;
    padding-right: 16px;
    align-items: flex-start;
  }
}
@media screen and (max-width: 1090px) {
  .FirstWrapper {
    max-width: 1180px;
    width: 100%;
  }
  .FirstWrapper .TextWrapper {
    min-width: 40%;
  }
  .FirstWrapper .TextWrapper .TitleWrapper h1 {
    font-size: 34px;
    line-height: 44px;
    font-weight: 600;
  }
  .FirstWrapper .TextWrapper .TitleWrapper p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400px;
  }
  .ImageContainer {
    min-width: auto;
    height: 680px;
  }
  .SecondWrapper .contentWrapper .imageWrapper {
    height: auto;
  }
  .SecondWrapper .contentWrapper .imageWrapper img {
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .HomepageCoinDataWrapper .innerWrapper .textWrapper {
    width: 100%;
    max-width: 100%;
  }
  .HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    grid-template-rows: repeat(3, minmax(0px, 1fr));
  }
}
@media screen and (max-width: 768px) {
  .SecondWrapper .contentWrapper .imageWrapper img {
    max-width: unset;
  }
  .SecondWrapper .contentWrapper .textWrapper .titleWrapper h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .SecondWrapper .contentWrapper .textWrapper .titleWrapper .subTextWrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  .SecondWrapper .contentWrapper .textWrapper .buttonWrapper {
    padding-right: 16px;
    width: 95%;
  }
  .SecondWrapper .contentWrapper .textWrapper .buttonWrapper .interactableButton, .SecondWrapper .contentWrapper .textWrapper .buttonWrapper .mobileButtonWrapper button, .mobileButtonWrapper .SecondWrapper .contentWrapper .textWrapper .buttonWrapper button {
    height: 40px;
    width: 100%;
    color: rgb(10, 11, 13);
  }
  .SecondWrapper .contentWrapper .textWrapper .buttonWrapper .interactableButton span, .SecondWrapper .contentWrapper .textWrapper .buttonWrapper .mobileButtonWrapper button span, .mobileButtonWrapper .SecondWrapper .contentWrapper .textWrapper .buttonWrapper button span {
    font-size: 35px;
    margin-bottom: 5px;
  }
  .ThirdWrapper {
    padding: 40px 8px 40px 8px;
  }
  .ThirdWrapper .ContentWrapper {
    flex-direction: column;
  }
  .ThirdWrapper .ContentWrapper .TextWrapper {
    padding: 0px 24px 0px 24px;
  }
  .ThirdWrapper .ContentWrapper .TextWrapper .TextContainer {
    padding: 0px;
  }
  .ThirdWrapper .ContentWrapper .ImageWrapper {
    width: 100%;
    padding: 40px 0;
  }
  .HomepageCoinDataWrapper .innerWrapper .textWrapper {
    width: 100%;
    max-width: 100%;
  }
  .HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer {
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    grid-template-rows: repeat(2, minmax(0px, 1fr));
  }
  .HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper .generalInfo img {
    height: 32px;
    width: 32px;
  }
}
@media screen and (max-width: 560px) {
  .FirstWrapperMobile {
    padding: 24px;
  }
  .FirstWrapperMobile .contentWrapper .TitleWrapper h1 {
    font-size: 34px;
    line-height: 40px;
  }
  .FirstWrapperMobile .contentWrapper h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .FirstWrapperMobile .contentWrapper .formWrapper {
    flex-direction: column;
  }
  .FirstWrapperMobile .contentWrapper .formWrapper .buttonWrapper {
    margin-top: 8px;
    margin-left: 0px;
    display: block;
    padding: 0;
    max-width: 100%;
  }
  .HomepageCoinDataWrapper .innerWrapper .textWrapper {
    width: 100%;
    max-width: 100%;
  }
  .HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    grid-template-rows: repeat(3, minmax(0px, 1fr));
  }
}
.no-scroll {
  overflow: hidden;
  height: 90vh;
}

.interactableButton, .mobileButtonWrapper button {
  display: inline-flex;
  cursor: pointer;
  height: 40px;
  min-width: 100px;
  border-radius: 40px;
  border: none;
  text-align: center;
  vertical-align: middle;
  line-height: 1.15;
  padding: 0 32px;
  white-space: nowrap;
  background-color: rgb(0, 82, 250);
  color: rgb(255, 255, 255);
  outline: 0;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-weight: 600;
  font-size: 100%;
}

.interactableButton:hover, .mobileButtonWrapper button:hover {
  background-color: rgb(1, 76, 236);
  opacity: 0.92;
}

.interactableButton:active, .mobileButtonWrapper button:active {
  background-color: rgb(1, 72, 221);
  opacity: 0.86;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  max-width: 99.9dvw;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: -webkit-fill-available;
  height: 100%;
  background-color: transparent;
}/*# sourceMappingURL=App.css.map */