$spacing-0: 0px;
$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 24px;
$spacing-4: 32px;
$spacing-5: 40px;
$spacing-6: 48px;
$spacing-7: 56px;
$spacing-8: 64px;
$spacing-9: 72px;
$spacing-10: 80px;

$primary: rgb(0, 82, 250);



.SectionCenter{
    justify-content: center;
}
.SectionFlex{
    display: flex;
}
.SectionRow{
    flex-direction: row;
}
.SectionColumn{
    flex-direction: column;
}

.SectionMaxWidthHundred{
    max-width: 100%;
}




.PageLayoutWrapper {
    // border-bottom: 1px solid var(--line);
    width: 100%;
    overflow-y: hidden;
}

.FirstWrapper {
    max-width: 1180px;
    width: 100%;

    .TextWrapper {
        min-width: auto;
        z-index: 1;
        padding: $spacing-0 $spacing-3 $spacing-0 $spacing-1;
        justify-content: center;

        .TitleWrapper{
            font-family: "HKGrotesk";
            text-align: start;
            padding-bottom: $spacing-8;

            h1{
                font-size: 60px;
                line-height: 65px; 
                font-weight: bold;
                margin-top:50px
            }

            span{
                height: $spacing-2;
                font-family: sans-serif;
                // margin-bottom: 24px;
                font-size: 20px;
                    line-height: 36px;
                    font-weight: 400;
            }
            p{
                // display: block;
                // margin-block-start: 1em;
                // margin-block-end: 1em;
                // margin-inline-start: 0px;
                // margin-inline-end: 0px;

                font-size: 32px;
                line-height:44px;
                font-weight: 620;
            }
        }
    }
    .FormWrapper {
        max-width: 472px;
        display: flex;
        flex-direction: row;
        
        padding-bottom: $spacing-3;

        .SignupForm{
            display: flex;
            flex-direction: row;
            width: 100%;
            padding-right:$spacing-2;
            gap: 16px;
            align-items: center;

            .InputContainer{
                display: flex;
                flex: 1 1 auto;
                flex-direction: row;

                position: relative;
                border-width: 1px;
                border-style: solid;
                border-color: rgba(91,97,110,0.2);
                border-radius: 8px;
                transition: all 0.15s ease 0s;
                background: white;

                input{
                    padding: 17px;
                    border: 1px solid transparent;
                    overflow: visible;

                    z-index: 0;
                    flex: 1 1 0px;
                    width: 100%;
                    margin: 0px;
                    padding: 20px;
                    border-radius: 3px;
                    background: none;
                    font-size: 18px;
                    height: 15px;
                    font-weight: 400;
                    color: rgb(10,11,13);
                    border: 1px solid transparent;
                    font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
                }
            }
            .interactableButton {
                height: 56px;
                border-radius: 56px;
                transform: scale(1);        
            }

            .interactableButton:hover{
                background-color: rgb(1,76,236);
                opacity: 1;
            }

            .interactableButton:active{
                opacity: 1;
                transform: scale(.98);
                background-color: rgb(1, 72, 221);;
            }
        }
    }
}

.ImageContainer{
    min-width: 636px;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.NextGenImage{
    width: 100%;
    img{
        object-fit: cover;
        height: 100%;
        width:100%;
    }
}



.FirstWrapperMobile{
    max-width: 768px;
    // width:100%;
    padding: $spacing-3 $spacing-7;

    .contentWrapper{
        display: flex;
        flex-direction: column;
        flex: 1 1 0px;
        align-items: flex-start;
        padding:$spacing-10 0;

        .linkWrapper{
            color: $primary;
            font-weight: 500;

            display: flex;
            cursor: pointer;
            align-items: center;
            flex-direction: row;
        }

        .TitleWrapper {
            h1 {
                text-align: start;
                font-size: 65px;
                // font-weight: 500;
                line-height: 1.15;
                margin-top: $spacing-1;
                margin-bottom: $spacing-2;
            }
        }

        h3{
            font-size: 23px;
            line-height: 1.4;
            margin-bottom: $spacing-4;
            text-align: start;
            font-weight: 600;
        }
        .formWrapper{
            display: flex;
            flex-direction: row;
            width:100%;

            .inputWrapper{
                // position: relative;
                    flex: 1 1 auto;
                    border-width: 1px;
                    border-style: solid;
                    border-color: rgba(91,97,110,0.2);
                    border-radius: 4px;
                    transition: all 0.15s ease 0s;
                    background: white;

                input{
                    z-index: 0;
                    // flex: 1 1 0px;
                    width: 100%;
                    margin: 0px;
                    padding: 20px;
                    border-radius: 3px;
                    background: none;
                    font-size: 18px;
                    font-weight: 400;
                    // color: rgb(10,11,13);
                    border: none;
                    box-sizing: border-box;
                    font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
                }
            }

            .buttonWrapper {
                margin-left: $spacing-2;
                margin-top: 0;
                max-width:160px;
                min-width: 160px;
                
            
            button {
                    width: 100%;
                    border-radius: 4px;
                    padding: 34px;
                    font-size: 16px;
                }
            }
        }
     
        

    }
}




.SecondWrapper{
    // height:200px;
    width:100%;
    background-color: rgb(10,11,13);
    display:flex;
    flex-direction: row;
    justify-content: center;
    // align-items: center;

    .contentWrapper{
        max-width: 1180px;
        width: 100%;
        display:flex;
        // ??align-items: center;

        .imageWrapper{
            height: 100%;

            display: flex;
            align-self: center;

            img{
                height: 100%;
                width: 100%;
                max-width: 198px;
                object-fit: cover;
            }
        }

        .textWrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            position: relative;
            width:100%;
            // height: 100%;
            padding:$spacing-3 $spacing-0 $spacing-3 $spacing-6;


            color: white;

            .titleWrapper{
                display: flex;
                flex-direction: column;
                padding-right: $spacing-2;
                align-items: flex-start;
                h2 {
                        font-size: 48px;
                        line-height: 56px;
                        font-weight: 400;
                        text-align: start;
                    }
                .subTextWrapper{
                    max-width: 700px;
                    text-align: start;
                    padding: $spacing-2 $spacing-1 $spacing-2 $spacing-0;

                    p{
                        font-size: 20px;
                        line-height: 28px;
                        font-weight: 400;
                        text-align: start;
                    }
                }

            }

                        .buttonWrapper {
                            min-width: 205px;
                            display: flex;
                            padding: 0px;
                            flex: 0 0;
                            justify-content: center;
                            align-items: center;

                            .interactableButton{
                                display: flex;
                                justify-content: space-between;
                                height:56px;
                                color:rgb(10,11,13);
                                span{
                                    font-size: 35px;
                                    margin-bottom: 5px;
                                }
                            }
                        }
        }
    }
}

.ThirdWrapper{
    padding: $spacing-10 $spacing-3 $spacing-10 $spacing-3;
    display: flex;
    justify-content: center;
    .ContentWrapper{
        max-width: 1180px;
        width: 100%;
        padding: 0;
        padding-top: $spacing-8;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top:1px solid rgba(91,97,110,0.2);

        .TextWrapper{
            width: 60%;
            max-width: 500px;
            padding: $spacing-0;
            display: flex;
            align-items: flex-start;
            .TextContainer{
                padding: $spacing-5 $spacing-0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                color:rgb(10,11,13);

                h2{
                    font-size: 34px;
                    line-height: 44px;
                    font-weight: 400;
                    text-align: start;
                }
                span{
                    flex-grow: 0;
                    flex-shrink: 0;
                    height: $spacing-2;
                }
                p{
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    text-align: start;
                }
                button{
                    height:54px
                }
            }

        }
        .ImageWrapper{
            width: 40%;
            padding-left: 16px;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                max-width: 298px;
            }
        }
    }
}




.HomepageCoinDataWrapper{
    width:100%;
    padding:$spacing-1, $spacing-5;
    display:flex;
    justify-content: center;
    background-color: rgb(245,248,255);
    .innerWrapper{
        width:100%;
        max-width: 1180px;
        padding: 0, $spacing-3;

        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: space-between;

        .textWrapper{
            width: 100%;
            padding-top:$spacing-5;
            display: flex;

            .innerTextWrapper{
                display: flex;
                flex-direction: column;
                h2{
                    font-size: 28px;
                    line-height: 36px;
                    font-weight: 400;

                    color:rgb(10,11,13);
                    margin: 0;
                    text-align: start;
                }

                span{
                    flex-grow: 0;
                    flex-shrink: 0;
                    height: 32px;
                }
                p{
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;

                    color: rgb(10, 11, 13);
                    margin: 0;
                    text-align: start;
                }

                .buttonWrapper{
                    padding: 0;
                    justify-content: center;
                    flex: 0 0;
                    .interactableButton{
                        height: 56px;
                        border-radius: 56px;
                        width: 100%;
                        min-width: 100%;
                        white-space: normal;
                        // padding:0  $spacing-4;

                    }
                }
            }
        }

    }
}











































//Tablet
@media screen and (max-width:1280px) {

    .SecondWrapper {
            
    
            .contentWrapper {
               
    
                .imageWrapper {
                   
                    img {
                            max-width: unset;
                        
                        }
                   
                }
    
                .textWrapper {
                    padding: $spacing-2 $spacing-0 $spacing-2 $spacing-3;
                        flex-direction: column;
                        align-items: flex-start;
                        align-content: flex-start;
                        justify-content: space-between;
    
                    .titleWrapper {
                        display: flex;
                        flex-direction: column;
                        padding-right: $spacing-2;
                        align-items: flex-start;

                       
    
                        // .subTextWrapper {}
                    }
                }
            }
        }

    // .SecondWrapper {
    //         .contentWrapper {
    //             .textWrapper{
    //                 padding: $spacing-2 $spacing-0 $spacing-2 $spacing-3;
    //                 flex-direction: column;
    //                 align-items: flex-start;
    //                 align-content: flex-start;
    //                 justify-content: space-between;
    //             }
    //         }
    //     }
        
}

@media screen and (max-width:1090px) {

    .FirstWrapper {
        max-width: 1180px;
        width: 100%;
    
            .TextWrapper {
                min-width: 40%;
                
    
                .TitleWrapper {
                    
    
                    h1 {
                        font-size: 34px;
                        line-height: 44px;
                        font-weight: 600;
                    }
    
                
    
                    p {
                    font-size: 16px;
                        line-height: 24px;
                        font-weight: 400px;
                    }
                }
            }
    }

    .ImageContainer{
            min-width: auto;
                height: 680px;
    }

    .SecondWrapper {
      

        .contentWrapper {
       

            .imageWrapper {
                height: auto;

                img {
                    height: auto;
                    object-fit: cover;
                }
            }
        }
    }

}

//Mobile
@media screen and (max-width:768px){

    .SecondWrapper {
        .contentWrapper {
            .imageWrapper {

                img {
                    max-width: unset;

                }
            }
            .textWrapper {
                .titleWrapper {
                    h2{
                        font-size: 28px;
                        line-height: 36px;
                    }
                    .subTextWrapper {
                        p {
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                    // .subTextWrapper {}
                }
                .buttonWrapper {
                    padding-right: 16px;
                    width: 95%;
                    .interactableButton{
                        height:40px;
                        width:100%;
                        color:rgb(10,11,13);
                        span{
                            font-size: 35px;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
    .ThirdWrapper{
        padding: $spacing-5 $spacing-1 $spacing-5 $spacing-1;
        .ContentWrapper{
            flex-direction: column;
            .TextWrapper{
                padding: $spacing-0 $spacing-3 $spacing-0 $spacing-3;
                // max-width: 500px;
                .TextContainer{
                    padding: $spacing-0;
                }
            }
            .ImageWrapper{
                width:100%;
                padding: $spacing-5 0;
            }
        }

    }
}


@media screen and (max-width:560px) {
    .FirstWrapperMobile{
        padding: $spacing-3;
        .contentWrapper{
            .TitleWrapper{
                h1 {
                    font-size: 34px;
                    line-height: 40px;
                }
            }
            h3{
                font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
            }
            .formWrapper{
                flex-direction: column;

                .buttonWrapper {
                        margin-top: $spacing-1;
                        margin-left: 0px;
                        display: block;
                        padding: 0;
                        max-width: 100%;         
                    }

                
            }
        }
    }
}


// @media(max-width:560px){

//         .TitleWrapper {
//                 h1 {
//                     font-size: 34px;
//                     line-height: 40px;
//                 }
//     }
// // }
// }


