@keyframes skeletonLoading {
  0% {
    background-color: lightgray;
  }
  100% {
    background-color: rgb(255, 255, 255);
  }
}
@keyframes arrowRotation {
  0% {
    transform: rotate(0 rad);
  }
  25% {
    transform: rotate(1.542rad);
  }
  50% {
    transform: rotate(3.142rad);
  }
  75% {
    transform: rotate(4.642rad);
  }
  100% {
    transform: rotate(6.283rad);
  }
}
.skeleton {
  animation: skeletonLoading 2s linear 0.25s infinite alternate;
}

.SectionCenter {
  justify-content: center;
}

.SectionFlex {
  display: flex;
}

.SectionRow {
  flex-direction: row;
}

.SectionColumn {
  flex-direction: column;
}

.SectionMaxWidthHundred {
  max-width: 100%;
}

.PageLayoutWrapper {
  width: 100%;
  overflow-y: hidden;
}

.FirstWrapper {
  max-width: 1180px;
  width: 100%;
}
.FirstWrapper .TextWrapper {
  min-width: auto;
  z-index: 1;
  padding: 0px 24px 0px 8px;
  justify-content: center;
}
.FirstWrapper .TextWrapper .TitleWrapper {
  font-family: "HKGrotesk";
  text-align: start;
  padding-bottom: 64px;
}
.FirstWrapper .TextWrapper .TitleWrapper h1 {
  font-size: 60px;
  line-height: 65px;
  font-weight: bold;
  margin-top: 50px;
}
.FirstWrapper .TextWrapper .TitleWrapper span {
  height: 16px;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
}
.FirstWrapper .TextWrapper .TitleWrapper p {
  font-size: 32px;
  line-height: 44px;
  font-weight: 620;
}
.FirstWrapper .FormWrapper {
  max-width: 472px;
  display: flex;
  flex-direction: row;
  padding-bottom: 24px;
}
.FirstWrapper .FormWrapper .SignupForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-right: 16px;
  gap: 16px;
  align-items: center;
}
.FirstWrapper .FormWrapper .SignupForm .InputContainer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(91, 97, 110, 0.2);
  border-radius: 8px;
  transition: all 0.15s ease 0s;
  background: white;
}
.FirstWrapper .FormWrapper .SignupForm .InputContainer input {
  padding: 17px;
  border: 1px solid transparent;
  overflow: visible;
  z-index: 0;
  flex: 1 1 0px;
  width: 100%;
  margin: 0px;
  padding: 20px;
  border-radius: 3px;
  background: none;
  font-size: 18px;
  height: 15px;
  font-weight: 400;
  color: rgb(10, 11, 13);
  border: 1px solid transparent;
  font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.FirstWrapper .FormWrapper .SignupForm .interactableButton {
  height: 56px;
  border-radius: 56px;
  transform: scale(1);
}
.FirstWrapper .FormWrapper .SignupForm .interactableButton:hover {
  background-color: rgb(1, 76, 236);
  opacity: 1;
}
.FirstWrapper .FormWrapper .SignupForm .interactableButton:active {
  opacity: 1;
  transform: scale(0.98);
  background-color: rgb(1, 72, 221);
}

.ImageContainer {
  min-width: 636px;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NextGenImage {
  width: 100%;
}
.NextGenImage img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.FirstWrapperMobile {
  max-width: 768px;
  padding: 24px 56px;
}
.FirstWrapperMobile .contentWrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  align-items: flex-start;
  padding: 80px 0;
}
.FirstWrapperMobile .contentWrapper .linkWrapper {
  color: rgb(0, 82, 250);
  font-weight: 500;
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: row;
}
.FirstWrapperMobile .contentWrapper .TitleWrapper h1 {
  text-align: start;
  font-size: 65px;
  line-height: 1.15;
  margin-top: 8px;
  margin-bottom: 16px;
}
.FirstWrapperMobile .contentWrapper h3 {
  font-size: 23px;
  line-height: 1.4;
  margin-bottom: 32px;
  text-align: start;
  font-weight: 600;
}
.FirstWrapperMobile .contentWrapper .formWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.FirstWrapperMobile .contentWrapper .formWrapper .inputWrapper {
  flex: 1 1 auto;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(91, 97, 110, 0.2);
  border-radius: 4px;
  transition: all 0.15s ease 0s;
  background: white;
}
.FirstWrapperMobile .contentWrapper .formWrapper .inputWrapper input {
  z-index: 0;
  width: 100%;
  margin: 0px;
  padding: 20px;
  border-radius: 3px;
  background: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  box-sizing: border-box;
  font-family: CoinbaseSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.FirstWrapperMobile .contentWrapper .formWrapper .buttonWrapper {
  margin-left: 16px;
  margin-top: 0;
  max-width: 160px;
  min-width: 160px;
}
.FirstWrapperMobile .contentWrapper .formWrapper .buttonWrapper button {
  width: 100%;
  border-radius: 4px;
  padding: 34px;
  font-size: 16px;
}

.SecondWrapper {
  width: 100%;
  background-color: rgb(10, 11, 13);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.SecondWrapper .contentWrapper {
  max-width: 1180px;
  width: 100%;
  display: flex;
}
.SecondWrapper .contentWrapper .imageWrapper {
  height: 100%;
  display: flex;
  align-self: center;
}
.SecondWrapper .contentWrapper .imageWrapper img {
  height: 100%;
  width: 100%;
  max-width: 198px;
  -o-object-fit: cover;
     object-fit: cover;
}
.SecondWrapper .contentWrapper .textWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding: 24px 0px 24px 48px;
  color: white;
}
.SecondWrapper .contentWrapper .textWrapper .titleWrapper {
  display: flex;
  flex-direction: column;
  padding-right: 16px;
  align-items: flex-start;
}
.SecondWrapper .contentWrapper .textWrapper .titleWrapper h2 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
  text-align: start;
}
.SecondWrapper .contentWrapper .textWrapper .titleWrapper .subTextWrapper {
  max-width: 700px;
  text-align: start;
  padding: 16px 8px 16px 0px;
}
.SecondWrapper .contentWrapper .textWrapper .titleWrapper .subTextWrapper p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  text-align: start;
}
.SecondWrapper .contentWrapper .textWrapper .buttonWrapper {
  min-width: 205px;
  display: flex;
  padding: 0px;
  flex: 0 0;
  justify-content: center;
  align-items: center;
}
.SecondWrapper .contentWrapper .textWrapper .buttonWrapper .interactableButton {
  display: flex;
  justify-content: space-between;
  height: 56px;
  color: rgb(10, 11, 13);
}
.SecondWrapper .contentWrapper .textWrapper .buttonWrapper .interactableButton span {
  font-size: 35px;
  margin-bottom: 5px;
}

.ThirdWrapper {
  padding: 80px 24px 80px 24px;
  display: flex;
  justify-content: center;
}
.ThirdWrapper .ContentWrapper {
  max-width: 1180px;
  width: 100%;
  padding: 0;
  padding-top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid rgba(91, 97, 110, 0.2);
}
.ThirdWrapper .ContentWrapper .TextWrapper {
  width: 80%;
  max-width: 500px;
  padding: 0px;
  display: flex;
  align-items: flex-start;
}
.ThirdWrapper .ContentWrapper .TextWrapper .TextContainer {
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(10, 11, 13);
}
.ThirdWrapper .ContentWrapper .TextWrapper .TextContainer h2 {
  font-size: 34px;
  line-height: 44px;
  font-weight: 400;
  text-align: start;
}
.ThirdWrapper .ContentWrapper .TextWrapper .TextContainer span {
  flex-grow: 0;
  flex-shrink: 0;
  height: 16px;
}
.ThirdWrapper .ContentWrapper .TextWrapper .TextContainer p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: start;
}
.ThirdWrapper .ContentWrapper .TextWrapper .TextContainer button {
  height: 54px;
}
.ThirdWrapper .ContentWrapper .ImageWrapper {
  width: 40%;
  padding-left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ThirdWrapper .ContentWrapper .ImageWrapper img {
  max-width: 298px;
}

.HomepageCoinDataWrapper {
  width: 100%;
  padding: 40px 8px;
  display: flex;
  justify-content: center;
  background-color: rgb(245, 248, 255);
}
.HomepageCoinDataWrapper .innerWrapper {
  width: 100%;
  max-width: 1180px;
  padding: 0 24px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.HomepageCoinDataWrapper .innerWrapper .textWrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 50%;
  max-width: 500px;
}
.HomepageCoinDataWrapper .innerWrapper .textWrapper .innerTextWrapper {
  width: 100%;
  padding-top: 40px;
  padding-right: 32px;
  display: flex;
  flex-direction: column;
}
.HomepageCoinDataWrapper .innerWrapper .textWrapper .innerTextWrapper h2 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
  color: rgb(10, 11, 13);
  margin: 0;
  text-align: start;
  width: 95%;
}
.HomepageCoinDataWrapper .innerWrapper .textWrapper .innerTextWrapper span {
  flex-grow: 0;
  flex-shrink: 0;
  height: 32px;
}
.HomepageCoinDataWrapper .innerWrapper .textWrapper .innerTextWrapper p {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  width: 90%;
  color: rgb(10, 11, 13);
  margin: 0;
  text-align: start;
}
.HomepageCoinDataWrapper .innerWrapper .textWrapper .innerTextWrapper .buttonWrapper {
  text-decoration: none;
  padding: 0;
  justify-content: flex-start;
  flex: 0 0;
}
.HomepageCoinDataWrapper .innerWrapper .textWrapper .innerTextWrapper .buttonWrapper a {
  width: 52%;
}
.HomepageCoinDataWrapper .innerWrapper .textWrapper .innerTextWrapper .buttonWrapper .interactableButton {
  height: 56px;
  border-radius: 56px;
  width: 100%;
  min-width: 90%;
  white-space: normal;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesHeader {
  width: 100%;
  padding-bottom: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesHeader .interactableButton {
  border-radius: 16px;
  background: rgb(245, 248, 255);
  padding: 0;
  min-width: unset;
  height: 38px;
  padding: 0px 8px;
  border: none;
  color: rgb(10, 11, 13);
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesHeader .interactableButton.active {
  border: 1px solid rgb(0, 82, 250);
  color: rgb(0, 82, 250);
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesHeader span {
  flex-grow: 0;
  flex-shrink: 0;
  width: 8px;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  grid-template-rows: repeat(2, minmax(0px, 1fr));
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 16px;
  width: 100%;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper {
  color: rgb(91, 97, 110);
  cursor: default;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.25s ease 0s;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile {
  height: 190px;
  width: 190px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 8px 24px;
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  border: 1px solid rgba(91, 97, 110, 0.2);
  background-color: white;
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper .generalInfo {
  color: rgb(91, 97, 110);
  cursor: pointer;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper .generalInfo img {
  width: 45px;
  height: 45px;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper .generalInfo .ImageSceleton {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  animation: skeletonLoading 1s linear infinite alternate;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper .generalInfo .title {
  padding-top: 8px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(10, 11, 13);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper .persentage {
  display: flex;
  flex-direction: row;
  font-size: 24px;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper .persentage span {
  font-weight: 400;
  line-height: 36px;
  font-size: 28px;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper .persentage .arrowWrapper {
  padding-right: 8px;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper .persentage .arrowWrapperSkeleton {
  animation: arrowRotation 2s linear 0.25s infinite;
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper .persentage.positive {
  color: rgb(9, 133, 81);
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper .persentage.negative {
  color: rgb(207, 32, 47);
}
.HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper .persentage.negative .arrowInnerWrapper {
  transform: rotate(3.142rad);
}

@media screen and (max-width: 1280px) {
  .SecondWrapper .contentWrapper .imageWrapper img {
    max-width: unset;
  }
  .SecondWrapper .contentWrapper .textWrapper {
    padding: 16px 0px 16px 24px;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
  }
  .SecondWrapper .contentWrapper .textWrapper .titleWrapper {
    display: flex;
    flex-direction: column;
    padding-right: 16px;
    align-items: flex-start;
  }
}
@media screen and (max-width: 1090px) {
  .FirstWrapper {
    max-width: 1180px;
    width: 100%;
  }
  .FirstWrapper .TextWrapper {
    min-width: 40%;
  }
  .FirstWrapper .TextWrapper .TitleWrapper h1 {
    font-size: 34px;
    line-height: 44px;
    font-weight: 600;
  }
  .FirstWrapper .TextWrapper .TitleWrapper p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400px;
  }
  .ImageContainer {
    min-width: auto;
    height: 680px;
  }
  .SecondWrapper .contentWrapper .imageWrapper {
    height: auto;
  }
  .SecondWrapper .contentWrapper .imageWrapper img {
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .HomepageCoinDataWrapper .innerWrapper .textWrapper {
    width: 50%;
    max-width: 50%;
  }
  .HomepageCoinDataWrapper .innerWrapper .textWrapper .innerTextWrapper {
    padding-right: 0px;
  }
  .HomepageCoinDataWrapper .innerWrapper .textWrapper .innerTextWrapper h2 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 400;
  }
  .HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    grid-template-rows: repeat(3, minmax(0px, 1fr));
    cursor: default;
  }
  .HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper {
    cursor: default;
  }
}
@media screen and (max-width: 768px) {
  .SecondWrapper .contentWrapper .imageWrapper img {
    max-width: unset;
  }
  .SecondWrapper .contentWrapper .textWrapper .titleWrapper h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .SecondWrapper .contentWrapper .textWrapper .titleWrapper .subTextWrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  .SecondWrapper .contentWrapper .textWrapper .buttonWrapper {
    padding-right: 16px;
    width: 95%;
  }
  .SecondWrapper .contentWrapper .textWrapper .buttonWrapper .interactableButton {
    height: 40px;
    width: 100%;
    color: rgb(10, 11, 13);
  }
  .SecondWrapper .contentWrapper .textWrapper .buttonWrapper .interactableButton span {
    font-size: 35px;
    margin-bottom: 5px;
  }
  .ThirdWrapper {
    padding: 40px 8px 40px 8px;
  }
  .ThirdWrapper .ContentWrapper {
    flex-direction: column;
  }
  .ThirdWrapper .ContentWrapper .TextWrapper {
    padding: 0px 24px 0px 24px;
  }
  .ThirdWrapper .ContentWrapper .TextWrapper .TextContainer {
    padding: 0px;
  }
  .ThirdWrapper .ContentWrapper .ImageWrapper {
    width: 100%;
    padding: 40px 0;
  }
  .HomepageCoinDataWrapper {
    width: unset;
  }
  .HomepageCoinDataWrapper .innerWrapper {
    flex-direction: column-reverse;
  }
  .HomepageCoinDataWrapper .innerWrapper .textWrapper {
    width: 50%;
    max-width: 100%;
  }
  .HomepageCoinDataWrapper .innerWrapper .textWrapper .innerTextWrapper {
    padding-right: 0px;
    width: 100%;
  }
  .HomepageCoinDataWrapper .innerWrapper .textWrapper .innerTextWrapper h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .HomepageCoinDataWrapper .innerWrapper .textWrapper .innerTextWrapper p {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    text-wrap: balance;
  }
  .HomepageCoinDataWrapper .innerWrapper .textWrapper .innerTextWrapper .buttonWrapper a {
    width: 100%;
  }
  .HomepageCoinDataWrapper .innerWrapper .textWrapper .innerTextWrapper .buttonWrapper .interactableButton {
    min-width: 100%;
  }
  .HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer {
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    grid-template-rows: repeat(2, minmax(0px, 1fr));
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  .HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile {
    height: 155px;
    width: 155px;
  }
  .HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper .persentage span {
    font-size: 20px;
    font-weight: 600;
  }
  .HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile .tileInnerWrapper .generalInfo img {
    height: 32px;
    width: 32px;
  }
}
@media screen and (max-width: 560px) {
  .FirstWrapperMobile {
    padding: 24px;
  }
  .FirstWrapperMobile .contentWrapper .TitleWrapper h1 {
    font-size: 34px;
    line-height: 40px;
  }
  .FirstWrapperMobile .contentWrapper h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .FirstWrapperMobile .contentWrapper .formWrapper {
    flex-direction: column;
  }
  .FirstWrapperMobile .contentWrapper .formWrapper .buttonWrapper {
    margin-top: 8px;
    margin-left: 0px;
    display: block;
    padding: 0;
    max-width: 100%;
  }
  .HomepageCoinDataWrapper .innerWrapper .textWrapper {
    width: 100%;
    max-width: 100%;
  }
  .HomepageCoinDataWrapper .innerWrapper .tilesWrapper {
    width: 100%;
  }
  .HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    grid-template-rows: repeat(3, minmax(0px, 1fr));
  }
  .HomepageCoinDataWrapper .innerWrapper .tilesWrapper .tilesContainer .tileWrapper .tile {
    height: 155px;
    width: 155px;
  }
}/*# sourceMappingURL=homepage.css.map */